
.add:before
{
    content: "\271A";

}


#postHeader h1{
    padding-top: 20px;
    position: relative;

}

#postHeaderContainer{


}

#postContentBlock{
    position: relative;

}

.affix-top, .affix{
    position: static;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top:30px;
        width:228px;
    }

    #sidebar.affix {
        position: fixed;
        top:70px;
        width:228px;
    }
}

#sidebar li.active {
    border:0 #eee solid;
    border-right-width:4px;
}

#postTitle .well{
    margin-top: 8%;
}

.postDescription {
    border: solid 1px;
    padding: 5px;

}

.postContribution{
    padding: 10px;
    background-color: #b3b3b3;
    margin: 5px;
}

.postContribution:hover{
    background-color: #adadad;
}


.postContent{
    padding: 5px;
}

.postContributionContent{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}




/*
.postContribution:before{

    height:20px;
    width:20px;
    content: "";
    background: url(../images/default_avatar.png);
    display: inline-block;
    background-size: 100%;
    position: relative;
}
*/

.postContribution > a:first-child{

    padding: 2px;
    position: relative;
    display: inline-block;

}


.postContribution > a:first-child:hover{
    background-color: #b92c28;
}


